#Horror_VR_Project/Content/MetaHumans/Creep/Face/Creep_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
#Horror_VR_Project/Content/MetaHumans/Dad/Face/Dad_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
#Horror_VR_Project/Content/MetaHumans/Mum/Face/Mum_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
#Horror_VR_Project/Content/MetaHumans/Amelia/Face/Amelia_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
#Horror_VR_Project/Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
